@use '../../core/core';

// TODO: figure out if overrides are still needed with access to the rest of the style files
.gb-text {
    margin-block-start: 0;
    margin-block-end: 0;
}

.gb-dynamic-read-more {
    display: block;
    justify-self: end;
}