@use '../../core/core' as helpers;

// TODO: figure out if overrides are still needed with access to the rest of the style files
.wp-site-blocks>* {
    margin-block-start: 0;
}

.wp-site-blocks>.base-container {
    padding: 0 helpers.$space-base;

    @media (max-width: helpers.$bp-medium) {
        padding: 0 helpers.$space-lg;
    }
}

.wp-block-search__inside-wrapper {
    border: 2px solid helpers.$red-500; //TODO: make this standard variable
    border-radius: helpers.$space-sm;
}

// TODO: can't figure out how to fully override autofill color 
.wp-block-search__input:focus {
    background-color: helpers.$red-100;
    border-radius: helpers.$space-sm;
}

.wp-block-search__button.has-background.has-icon {
    .search-icon {
        stroke: helpers.$base;
        stroke-width: 2px; //TODO: make this standard variable
        stroke-linejoin: round;
    }
}